:root {
  /* Colors */
  --black-primary: black;
  --black-secondary: #181818;
  --background-color-primary: white;
  --background-color-secondary: #f0f0f0;
  --duck-yellow: #FADF85;
  --duck-orange: #F4B959;
  --duck-black: #354143;

  /* Fonts */
  --font-primary: Arial, Helvetica, sans-serif;
  --font-notes: "Comic Sans MS", cursive;
  --font-desktop: monospace;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
.App {
  height: 100vh; 
  font-size: 100%;
  font-family: var(--font-primary);
  background-color: var(--background-color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App__header {
  width: 95%;
  margin-top: 2%;
  border-radius: 1rem;
  background-color: var(--duck-yellow);
  box-shadow: -0.5rem -0.3rem 0 0 var(--duck-orange),
  0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1); 
}
.header__h1 {
  padding: 7%;
  color: var(--black-secondary); 
  text-align: center;
  background-image: url('./duck.png');
  background-size: 5rem 5rem;
  background-repeat: no-repeat;
  background-position: center;
  text-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
  /* color: var(--duck-yellow);
   text-shadow: 
   -0.25rem -0.2rem 0 var(--duck-orange),
    0.5rem 0.5rem 0.7rem rgba(0, 0, 0, 0.5);  */
}
.header__p {
  display: none;
}
.App__main {
  width: 75%; 
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; 
  gap: 5%;
}
.main__section--Screen {
  height: 35%;
  width: 85%;
  margin-top: 2.5%;
  background-color: #1B1A17;
  border-radius: 1rem;
  border: 0.5rem solid var(--background-color-primary);
  outline: 0.8rem solid var(--duck-yellow);
  box-shadow: 0 1rem 0 0.79rem var(--duck-yellow);
  position: relative;
  display: flex;
  justify-content: center;
  filter: drop-shadow(0.5rem 0.5rem 0.5rem rgba(0,0,0, 0.5)); 
  
  color: var(--duck-orange);
  align-items: flex-end;
  font-size: 0.66rem;
  text-align: center;
  transition: transform 1500ms;
}
.main__section--Screen::before {
  content: '';
  position: absolute;
  background-color: var(--duck-yellow);
  clip-path: polygon(25% 0, 75% 0, 100% 100%, 0 100%);
  height: 2.3rem;
  width: 4.5rem;
  top: calc(100% + 45px);
}
.main__section--Screen::after {
  content: '';
  position: absolute;
  width: 8rem;
  height: 10px;
  background-color: var(--duck-yellow);
  border-radius: 1rem;
  top: calc(100% + 80px);
    
}
/* Previewer START */
#preview {
  overflow: auto;
  max-height: 98%;
  max-width: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  font-family: var(--font-desktop);
}
#preview code {
  background-color: var(--duck-orange);
  color: var(--black-secondary);
  border-radius: 0.3rem;
  padding: 0.1rem;
  margin-top: 0.1rem;
  display: inline-block;
}
#preview img {
  background-color: white;
  width: 20%;
  border-radius: 0.3rem;
  margin-top: 0.2rem;
}
#preview a {
  color: var(--background-color-primary);
}
#preview ul {
  margin-left: 1rem;
  text-align: left;
}
#preview blockquote {
  color: var(--black-primary);
  background-color: var(--background-color-primary);
  margin: 0.2rem;
  padding: 0.5rem;
  border: 0.15rem dashed var(--black-primary);
}
/* Previewer END */
.main__section--Duck { 
  display: none;
}
.main__section--Notes {
  width: 65%;
  height: 200px;
  border: 0.2rem solid var(--black-secondary);
  border-radius: 2rem 1rem 1rem 2rem;
  background-color: var(--background-color-primary);
  filter: drop-shadow(0.5rem 0.5rem 0.5rem rgba(0,0,0, 0.5)); /*Try Shadows*/
  position: relative;
  display: flex;
  justify-content: center;
  transition: transform 700ms;
}
.main__section--Notes::after {
  content: '';
  position: absolute;
  width: 2.2rem; 
  height: 0.4rem;
  background-color: var(--black-secondary);
  border-radius: 5rem;
  top: 1.4rem;
  left: -1rem;
  box-shadow: 
  0 1.5rem 0 0 var(--black-secondary),
  0 3rem 0 0 var(--black-secondary),
  0 4.5rem 0 0 var(--black-secondary),
  0 6rem 0 0 var(--black-secondary),
  0 7.5rem 0 0 var(--black-secondary),
  0 9rem 0 0 var(--black-secondary);  
}
/* Editor START */
#editor {
  resize: none;
  caret-color: var(--duck-orange);
  outline: none;
  padding: 0.5rem;
  width: 75%;
  font-family: var(--font-notes);
}
/* Editor END */
.App__footer {
  color: var(--black-secondary);
  width: 100%;
  background-color: var(--duck-orange);
}
.footer__p {
  width: 100%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer__a {
  width: 15rem;
  padding-top: 0.5%;
}
.footer__img {
  width: 100%;
  vertical-align: middle;
}
/* Animation */
.main__section--Screen:hover {
  transition: transform 700ms;
  transform: scale(1.5);
}
.main__section--Notes:hover {
  transform: scale(1.5);
  transition: transform 250ms;
}

@media only screen and (min-width: 768px) {
  .App__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5% 5% 2% 5%;
    margin-top: 1rem;
  }
  .header__h1 {
    
   margin-bottom: 1rem;
   padding: 0;
   background-image: none;
   color: var(--duck-yellow);
   text-shadow: 
   -0.25rem -0.2rem 0 var(--duck-orange),
    0.5rem 0.5rem 0.7rem rgba(0, 0, 0, 0.5); 
  }
  .header__p {
    display: flex;
    text-align: center;
  }
  .App__main {
    width: 60%;
    align-items: center;
    justify-content: space-evenly;
  }
  .main__section--Duck {
    display: flex;
    position: relative;
  }
  #img__Duck {
    transform: rotateY(180deg);
    /* border: 1px solid red; */
    width: 8rem;
    position: relative;
    left: 200%;
    bottom: -45%;
    z-index: 1;
    filter: drop-shadow(-0.5rem 0.5rem 0.5rem rgba(0,0,0, 0.5));
  }
  #p__cheerUp {
    border: 2px solid var(--black-primary);
    background-color: var(--background-color-primary);
    padding: 2.5rem;
    width: 200px;
    border-radius: 5rem;
    position: absolute;
    top: -110%;
    left: 250%;
    text-align: center;
  }
  #p__cheerUp::after {
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 5rem;
    border: 2px solid var(--black-primary);
    background-color: var(--background-color-primary);
    top: 100%;
    left: 3%;
  }
  #p__cheerUp::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 5rem;
    border: 2px solid var(--black-primary);
    background-color: var(--background-color-primary);
    top: 135%;
    left: -5%;
    z-index: 1;
  }
  .main__section--Screen {
    margin-top: 2.5%;
    margin-bottom: -10%;
    width: 50%;
    outline: 0.8rem solid var(--duck-orange);
    box-shadow: 0 1rem 0 0.79rem var(--duck-orange);
    color: var(--duck-yellow);
  }
  .main__section--Screen::after {
    background-color: var(--duck-orange);
  }
  .main__section--Screen::before {
    background-color: var(--duck-orange);
  }
.main__section--Notes {
  width: 25%;
  height: 260px;
  transform: scale(0.8) rotate(25deg); 
}
.main__section--Notes::after {
  box-shadow: 
  0 1.5rem 0 0 var(--black-secondary),
  0 3rem 0 0 var(--black-secondary),
  0 4.5rem 0 0 var(--black-secondary),
  0 6rem 0 0 var(--black-secondary),
  0 7.5rem 0 0 var(--black-secondary),
  0 9rem 0 0 var(--black-secondary),
  0 10.5rem 0 0 var(--black-secondary),
  0 12rem 0 0 var(--black-secondary);  
}
  #preview code {
    background-color: var(--duck-yellow);}

  .App__footer {
    background-color: var(--duck-yellow);
  }
  .footer__p {
    flex-direction: row;
    justify-content: center;
  }
 }

 